%ol.breadcrumb{itemprop: "breadcrumb"}
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Accueil" do
      %span{itemprop: "title"}>= "Accueil"
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to notes_path, itemprop: "url", title: "Notes" do
      %span{itemprop: "title"}>= "Notes"
  %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to note_path(@key.name_for_url), itemprop: "url", title: @key.long_name, class: "disable" do
      %span{itemprop: "title"}>= @key.name

.page-header
  %h1
    = title @key.name
    %small= @key.french_name

%section#note
  .row
    .col-xs-12.col-md-3
      .panel.panel-primary
        .panel-heading
          %h2.panel-title
            Notation anglaise
        .panel-body
          .staff.note-staff{"data-id" => @key.name_for_url, "data-staff" => ["#{@key.name_for_url.gsub('d','#')}/4"].to_json, "data-staff-clef" => "treble", "width" => 223}

%nav.infos
  %h3 Informations complémentaires
  %p
    %label Nom complet :
    = @key.long_name
  %p
    %label Notation française :
    = @key.french_name
  %p
    %label Enharmonies :
    - Key.all.uniq{ |key| key.name }.select {|key| key.index == @key.index}.each do |key|
      = link_to key, note_path(key.name_for_url), title: key.long_name
