-description "La note #{@key.long_name} ou #{@key.french_long_name}"
-set_meta_tags canonical: note_url(@key)

%ol.breadcrumb{itemprop: "breadcrumb"}
  %li.breadcrumb-item{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Théorie de la musique" do
      %span{itemprop: "title"}>= "Théorie musicale"
  %li.breadcrumb-item{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to notes_path, itemprop: "url", title: "Notes" do
      %span{itemprop: "title"}>= "Notes"
  %li.breadcrumb-item.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to note_path(@key), itemprop: "url", title: @key.name_for_seo, class: "disable" do
      %span{itemprop: "title"}>= @key.name

.page-header
  %h1
    = title @key.name
    %small.text-muted= @key.french_name

%section#note
  .row
    .col-xs-12.col-md-3
      .card
        .card-header
          Notation
        .card-block
          .staff.note-staff.img-responsive{"data-id" => @key.to_param, "data-staff" => ["#{@key.to_vexflow_notation}"].to_json, "data-staff-clef" => "treble", "width" => 223}

%section#infos.mt-3
  %h3 Informations complémentaires
  %p
    %label Nom complet :
    = @key.long_name
  %p
    %label Notation française :
    = @key.french_name
  %p
    %label Enharmonies :
    - Key.all.uniq{ |key| key.name }.select {|key| key.index == @key.index}.each do |key|
      = link_to key, note_path(key), title: key.name_for_seo

%section#piano.mt-3
  %h3 Note #{@key.name} au piano
  =render "layouts/piano", keys: [@key]