%ol.breadcrumb{itemprop: "breadcrumb"}
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Accueil" do
      %span{itemprop: "title"}>= "Accueil"
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to scales_path, itemprop: "url", title: "Gammes" do
      %span{itemprop: "title"}>= "Gammes"
  %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to scale_path(@scale), itemprop: "url", title: @scale.title, class: "disable" do
      %span{itemprop: "title"}>= @scale.title

%article#scale
  %header
    .page-header
      %h1= title @scale.title
    %p= description @scale.information

  %nav#intervals-list
    %h2 Intervalles
    %p
      Elle est composée des intervalles suivants :
      %ul
        - @scale.tones.from(1).each do |t|
          -i = t.to_interval
          %li= link_to i.long_name, interval_path(i.name_for_url)

  %nav#modes-list
    %h2 Modes de la gamme
    %table.table.table-hover.table-striped
      %thead
        %tr
          -if @scale.heptatonic?
            %th Degré
            %th Mode (appellation moderne)
          %th Nom courant
          %th Séquence d'intervalles en tons
      %tbody
        - @scale.modes.each do |mode|
          - mode = mode.in_key_of('C')
          %tr
            -if @scale.heptatonic?
              %td= mode.degree
              %td= link_to "Mode de #{mode.mode_key}", [@key, @scale, mode]
            %td
              = link_to mode, [@key, @scale, mode]
            %td
              = mode.step_names.join(" - ")