%ol.breadcrumb{itemprop: "breadcrumb"}
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Accueil" do
      %span{itemprop: "title"}>= "Accueil"
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to scales_path, itemprop: "url", title: "Gammes" do
      %span{itemprop: "title"}>= "Gammes"
  %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to scale_path(@scale), itemprop: "url", title: @scale.title, class: "disable" do
      %span{itemprop: "title"}>= @scale.title

%article#scale
  %header
    .page-header
      %h1= title @scale.title
    %p= description @scale.information

  %nav#intervals-list
    %h2 Intervalles
    %p
      Elle est composée des intervalles suivants :
      %ul
        - @scale.intervals.each do |i|
          %li= link_to i.long_name, interval_path(i.name_for_url)

  %nav#modes-list
    %h2 Modes de la gamme
    %table.table.table-hover.table-striped
      %thead
        %tr
          %th Degré
          -if @scale.heptatonic?
            %th Mode (Appellation moderne)
          %th Mode (Appellation courante)
          %th Séquence d'intervalles en tons
      %tbody
        - @scale.modes.each do |mode|
          - mode = mode.in_key_of('C')
          %tr
            %td= mode.degree
            -if @scale.heptatonic?
              %td= link_to "Mode de #{mode.mode_key}", [@key, @scale, mode]
            %td
              = link_to mode, [@key, @scale, mode]
            %td
              = mode.step_names.join(" - ")

  -if @scale.heptatonic?
    %nav#harmonization
      %h2 Harmonisation de la #{@scale.title}
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th{rowspan:"2"} Degré
            %th{colspan:"4"} Composantes de l'accord
            %th{colspan:"2"} Triade
            %th{colspan:"2"} Tétrade
          %tr
            %th Fondamentale
            %th Tierce
            %th Quinte
            %th Septième
            %th Accord
            %th Qualité
            %th Accord
            %th Qualité
        %tbody
          - @scale.modes.each do |mode|
            - mode = mode.in_key_of('C')
            %tr
              %td= mode.degree
              - mode.thirds.to(3).each do |note|
                %td= link_to note.name, note_path(note.name_for_url), title: note.long_name
              -if triad = Chord.find_by_keys(mode.thirds[0..2])
                %td= link_to(triad.title,[triad.key,triad])
                %td= link_to(mode.degree+triad.primary_symbol.to_s,triad)
              -if tetrad = Chord.find_by_keys(mode.thirds[0..3])
                %td= link_to(tetrad.title,[tetrad.key,tetrad])
                %td= link_to(mode.degree+tetrad.primary_symbol.to_s,tetrad)