%ol.breadcrumb{itemprop: "breadcrumb"}
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Accueil" do
      %span{itemprop: "title"}>= "Accueil"
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to intervals_path, itemprop: "url", title: "Intervales", class: "disable" do
      %span{itemprop: "title"}>= "Intervales"
  %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to interval_path(@interval.name_for_url), itemprop: "url", title: @interval.long_name_with_key, class: "disable" do
      %span{itemprop: "title"}>= @interval.long_name_with_key

.page-header
  %h1
    = title @interval.long_name_with_key
    %small= @interval.symbol


%section#note
  .row
    .col-xs-6.col-md-3
      .panel.panel-primary
        .panel-heading
          %h2.panel-title
            Notation
        .panel-body
          .staff.interval-staff{"data-id" => @interval.name_for_url, "data-staff" => @interval.octavized_notes.map {|n| [n]}.to_json, "data-staff-clef" => "treble", "width" => 223}
    .col-xs-6.col-md-3
      .panel.panel-primary
        .panel-heading
          %h2.panel-title
            Demi-tons
        .panel-body
          %h3=@interval.semitones
    .col-xs-6.col-md-3
      .panel.panel-primary
        .panel-heading
          %h2.panel-title
            Symbole
        .panel-body
          %h3=@interval.symbol


%nav.infos
  %h3 Informations complémentaires
  - unless @interval.compound?
    %p
      %label Renversement :
      - inversion = @interval.inversion
      =link_to inversion.long_name, interval_path(inversion.name_for_url)
  %p
    %label Type d'intervale :
    Intervale
    = @interval.compound? ? 'redoublé' : 'simple'
  %p
    %label Seconde note par rapport à #{@interval.notes.first} :
    = link_to @interval.keys.last, note_path(@interval.keys.last.name_for_url), title: @interval.keys.last.long_name


%nav#key-selector
  .panel.panel-default
    .panel-heading
      %h2.panel-title Afficher la #{@interval.long_name} de
    .panel-body
      %ul.nav.nav-pills
        - Key.primaries.each do |key|
          -#%li{:class => ("current" if @key == key)}= link_to_unless @key == key, key, controller.is_a?(VoicingsController) ? [key, @chord, @voicing || :voicings] : [key, @chord]
          %li{:class => ("active" if (@key == key or (@key.nil? && key.name == "C")))}= link_to key, key_interval_path(key, @interval.name_for_url)


