-description "L'accord #{@chord.title} (#{@chord.main_symbol_name}) est composé des intervalles suivants : #{@chord.tones.from(1).map(&:to_interval).map(&:long_name).to_sentence}"
-set_meta_tags canonical: url_for([@chord.key, @chord, {only_path: false}])

%ol.breadcrumb{itemprop: "breadcrumb"}
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Accueil" do
      %span{itemprop: "title"}>= "Accueil"
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to chords_path, itemprop: "url", title: "Accords" do
      %span{itemprop: "title"}>= "Accords"
      %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to [@chord.key, @chord], itemprop: "url", title: @chord.title, class: "disable" do
      %span{itemprop: "title"}>= title @chord.title(true)

%article#chord
  = render "chords/header"

%section#piano
  %h3 #{@chord.title(true)} au piano
  =render "layouts/piano", keys: @chord.keys

%nav.related-modes
  %h3 Gammes et modes relatifs :
  .row.modes-list
    - @chord.chord_scales.each do |chord_scale|
      = render chord_scale.mode, :key => (@chord.key || Key.default).shifted(chord_scale.offset)


  = render "chords/key_selector"

  -#- if @chord.voicings.present?
  -#  %nav.related-voicings
  -#    %h3 Popular Voicings for #{@chord} (#{link_to "See All #{@chord.voicings.count}", [@chord, :voicings]}):
  -#    %ul.voicings-list
  -#      = render @chord.voicings, :key => @key

