-set_meta_tags canonical: page_url('a-propos')

.page-header
  %h1
    = title "A propos"

%p.lead
  = description "Ce site a pour but d'être une compilation de données utiles sur la théorie musicale pour le Jazz et les musiques improvisées en général."
  %br
  Pour toute remarque, faites-moi signe sur Twitter : #{link_to '@camilleroux', 'https://twitter.com/CamilleRoux'}

%h2 On parle de nous

%table.table
  %tbody
    %tr
      %td
        = link_to 'Un site pour parfaire sa connaissance de la théorie musicale pour le jazz', 'http://www.presse-citron.net/un-site-pour-parfaire-sa-connaissance-de-la-theorie-musicale-pour-le-jazz/', rel: 'nofollow', target: '_blank'
        — Presse Citron

%h2 Modifications

%table.table
  %thead
    %tr
      %th Date
      %th Modications
  %tbody
    %tr
      %td= l Date.new(2015, 9, 28)
      %td Ajout de la visualisation sous forme de clavier piano pour les notes, les intervalles, les accords et les modes
    %tr
      %td= l Date.new(2015, 9, 23)
      %td Ajout de l'équivalent en notation française chaque fois qu'une note apparaît dans un titre
    %tr
      %td= l Date.new(2015, 9, 22)
      %td Correction d'un bug pour l'affichage des intervalles sous forme de partition
    %tr
      %td= l Date.new(2015, 9, 18)
      %td Ajout de l'harmonisation des modes • Ajout des extentions dans les harmonisations
    %tr
      %td= l Date.new(2015, 9, 17)
      %td Ajout d'une page #{link_to 'Ressources', page_path('ressources')} contenant une liste de livres/liens sur le thème de la théorie musicale
    %tr
      %td= l Date.new(2015, 9, 15)
      %td Ajout d'une page #{link_to 'A propos', page_path('a-propos')}
    %tr
      %td= l Date.new(2015, 9, 13)
      %td Affichage du degré dans la liste des modes d'une gamme
    %tr
      %td= l Date.new(2015, 9, 8)
      %td Adaption du design à des supports mobiles (responsive design)
    %tr
      %td= l Date.new(2015, 9, 6)
      %td Ajout de la liste des #{link_to 'intervalles', intervals_path}
    %tr
      %td= l Date.new(2015, 9, 2)
      %td Ajout de la liste des #{link_to 'notes', notes_path}
    %tr
      %td= l Date.new(2015, 8, 31)
      %td Version initiale utilisant une partie du code de #{link_to 'Jazzity', 'https://github.com/rubiety/jazzity', target: '_blank'}