%head
  %meta{charset:"utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", content:"IE=edge"}
  %meta{name:"viewport",content:"width=device-width, initial-scale:1"}
  = display_meta_tags :site => 'Théorie musicale',
                      :description => 'Théorie de la musique (accords, gammes, modes...) pour le jazz et les musiques improvisées',
                      :keywords => 'gamme, accord, mode, intervalle, majeur, mineur, jazz, improvisation, théorie',
                      :reverse => true,
                      :author => 'https://plus.google.com/u/0/+CamilleRoux/',
                      :og => { title: :title,
                        :type  => :website,
                        :site_name => 'Théorie musicale',
                        :locale => "fr_FR"}

  = favicon_link_tag
  <link href="//fonts.googleapis.com/css?family=Lato:400,300,700,900|Merriweather:300italic,300,700,700italic" rel="stylesheet" type="text/css">
  <meta name="google-site-verification" content="SueIOm5OP8R5QoMCc_V3ODVd-jZZeynl1iE17FXH8vc" />
  = render :partial => 'layouts/stylesheets'

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

:plain
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : "Théorie Musicale",
    "url" : "#{root_url}"
  }
  </script>